<div class="graphic_top">
  <%= image_tag("/images/black_box_icon.png", :alt => "Video") %>
</div>
<div class="content_bottom">
  <h3>Video: [View] in your element.</h3>
  <div class="content_left">
    <p>
      Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
    </p>
  </div>
  <div class="content_right">
    <ul>
      <li>Watch a Video</li>
      <li>
        <%= link_to raw("Social Messaging &raquo;"), "#e6" %>
      </li>
      <li>
        <%= link_to raw("Work Smarter &raquo;"), "#e16" %>
      </li>
      <li>
        <%= link_to raw("Total Customization &raquo;"), "#e17" %>
      </li>
      <li>
        <%= link_to raw("Idea-driven &raquo;"), "#e18" %>
      </li>
    </ul>
  </div>
</div>