<div class="graphic_top">
  <%= image_tag("/images/video_icon.png", :alt => "Video") %>
</div>
<div class="content_bottom">
  <h3>Video: [View] in your element.</h3>
  <div class="content_top_section">
    <p>
      Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
    </p>
  </div>
  <div class="content_bottom_section">
    <ul>
      <li>Watch a Video</li>
      <li>
        <%= link_to raw("Core Elements &raquo;"), green_video, :class => "reg_video_trigger", :rel => "div.overlay" %>
      </li>
      <li>
        <%= link_to raw("Results &raquo;"), green_video, :class => "reg_video_trigger", :rel => "div.overlay" %>
      </li>
      <li>
        <%= link_to raw("Technology &raquo;"), green_video, :class => "reg_video_trigger", :rel => "div.overlay" %>
      </li>
      <li>
        <%= link_to raw("Tools &raquo;"), green_video, :class => "reg_video_trigger", :rel => "div.overlay" %>
      </li>
      <li>
        <%= link_to raw("Solutions &raquo;"), green_video, :class => "reg_video_trigger", :rel => "div.overlay" %>
      </li>
    </ul>
  </div>
</div>