<!-- <div class="graphic_top">
  <%= image_tag("/images/video_icon.png", :alt => "Video") %>
</div>
<div class="content_bottom">
  <h3>Video: [View] in your element.</h3>
  <div class="content_left">
    <p>
      Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
    </p>
  </div>
  <div class="content_right">
    <ul>
      <li>Watch a Video</li>
      <li>
        <%= link_to raw("Core Elements &raquo;"), "#e1" %>
      </li>
      <li>
        <%= link_to raw("Results &raquo;"), "#e36" %>
      </li>
      <li>
        <%= link_to raw("Technology &raquo;"), "#e5" %>
      </li>
      <li>
        <%= link_to raw("Tools &raquo;"), "#e50" %>
      </li>
      <li>
        <%= link_to raw("Problem Elements &raquo;"), "#e57" %>
      </li>
    </ul>
  </div>
</div> -->