      <div class="graphic_top">
        <%= image_tag("/images/blue_box_icon.png", :alt => "Tools") %>
      </div>
      <div class="content_bottom">
        <h3>Tools: [Work] in your element.</h3>
        <div class="content_top_section">
          <%= render :partial => 'color_box_text_block' %>
        </div>
        <div class="content_bottom_section">
          <ul>
            <li class="black">Explore Elements</li>
            <li>
              <%= link_to raw("Social Messaging &raquo;"), "#e6", :parent_box => "#e5" %>
            </li>
            <li>
              <%= link_to raw("Work Smarter &raquo;"), "#e16", :parent_box => "#e5" %>
            </li>
            <li>
              <%= link_to raw("Total Customization &raquo;"), "#e17", :parent_box => "#e5" %>
            </li>
            <li>
              <%= link_to raw("Idea-driven &raquo;"), "#e18", :parent_box => "#e5" %>
            </li>
            <li>
              <%= link_to raw("Help Center &raquo;"), "#e28", :parent_box => "#e5" %>
            </li>
          </ul>
        </div>
      </div>