      <div class="graphic_top">
        <%= image_tag("/images/blue_box_icon.png", :alt => "Tools") %>
      </div>
      <div class="content_bottom">
        <h3>Tools: [Work] in your element.</h3>
        <div class="content_left">
          <p>
            Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
          </p>
        </div>
        <div class="content_right">
          <ul>
            <li class="black">Jump to Elements</li>
            <li>
              <%= link_to raw("Social Messaging &raquo;"), "#e6" %>
            </li>
            <li>
              <%= link_to raw("Work Smarter &raquo;"), "#e16" %>
            </li>
            <li>
              <%= link_to raw("Total Customization &raquo;"), "#e17" %>
            </li>
            <li>
              <%= link_to raw("Idea-driven &raquo;"), "#e18" %>
            </li>
            <li>
              <%= link_to raw("Help Center &raquo;"), "#e28" %>
            </li>
          </ul>
        </div>
      </div>