      <div class="graphic_top">
        <%= image_tag("/images/green_box_icon.png", :alt => "Core Elements") %>
      </div>
      <div class="content_bottom">
        <h3>Core Elements: [Pay] in your element.</h3>
        <div class="content_left">
          <p>
            Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
          </p>
        </div>
        <div class="content_right">
          <ul>
            <li class="black">Jump to Elements</li>
            <li>
              <%= link_to raw("Clinical Touch &raquo;"), "#e2" %>
            </li>
            <li>
              <%= link_to raw("Prepayment Solutions &raquo;"), "#e12" %>
            </li>
            <li>
              <%= link_to raw("Great Service &raquo;"), "#e13" %>
            </li>
            <li>
              <%= link_to raw("User-friendly &raquo;"), "#e14" %>
            </li>
            <li>
              <%= link_to raw("Advanced Analytics &raquo;"), "#e24" %>
            </li>
          </ul>
        </div>
      </div>