<div class="graphic_top">
  <%= image_tag("/images/green_box_icon.png", :alt => "Core Elements") %>
</div>
<div class="content_bottom">
  <h3>Core Elements: [Pay] in your element.</h3>
  <div class="content_top_section">
    <%= render :partial => 'color_box_text_block' %>
  </div>
  
  <div class="content_bottom_section">
    <ul>
      <li class="black">Explore Elements</li>
      <li>
        <%= link_to raw("Clinical Touch &raquo;"), "#e2", :parent_box => "#e1" %>
      </li>
      <li>
        <%= link_to raw("Prepayment Solutions &raquo;"), "#e12", :parent_box => "#e1" %>
      </li>
      <li>
        <%= link_to raw("Great Service &raquo;"), "#e13", :parent_box => "#e1" %>
      </li>
      <li>
        <%= link_to raw("User-friendly &raquo;"), "#e14", :parent_box => "#e1" %>
      </li>
      <li>
        <%= link_to raw("Advanced Analytics &raquo;"), "#e24", :parent_box => "#e1" %>
      </li>
    </ul>
  </div>

</div>