<p>
  an atomic change.<br/>
  a universe of difference.
</p>
<%= image_tag("/images/home_page_logo.png", :alt => "Nucleus - Be in your element") %>
<p>
  built on the HCI <%= link_to "core", "#e1", :class => "green home_link"%><br/> with the most advanced<br/><%= link_to "tools", "#e50", :class => "yellow home_link"%> and <%= link_to "technology", "#e5", :class => "blue home_link"%><br/> to achieve better <%= link_to "results", "#e36", :class => "red home_link"%>.
</p>