<h2 id="elements_header">The Elements of Nucleus</h2>


<div id="micro_row1" class="micro_element_row">
  <%= render :partial => 'micro_row1_elements' %>
</div>

<div id="micro_row2" class="micro_element_row">
  <%= render :partial => 'micro_row2_elements' %>
</div>

<div id="micro_row3" class="micro_element_row">
  <%= render :partial => 'micro_row3_elements' %>
</div>

<div id="micro_row4" class="micro_element_row">
  <%= render :partial => 'micro_row4_elements' %>
</div>

<div id="micro_row5" class="micro_element_row">
  <%= render :partial => 'micro_row5_elements' %>
</div>

<div id="micro_row6" class="micro_element_row">
  <%= render :partial => 'micro_row6_elements' %>
</div>

<div id="micro_row7" class="micro_element_row">
  <%= render :partial => 'micro_row7_elements' %>
</div>