<div id="me1" class="micro_element micro_element_box solid_green" title="Core Elements">
  <%= link_to "Core", "#e1", :class => "micro_link core color_box" %>
</div>

<div id="me2" class="micro_element micro_element_box green" title="Clinical Touch">
  <h3>Ct</h3>
  <%= link_to "Clinical Touch", "#e2", :class => "micro_link", :parent_box => "e1" %>
</div>

<div id="me3" class="micro_element left_border">
</div>

<div id="me4" class="micro_element">
</div>


<div id="me5" class="micro_element micro_element_box solid_blue" title="Tools">
  <%= link_to "Tools", "#e5", :class => "micro_link tools color_box" %>
</div>

<div id="me6" class="micro_element micro_element_box blue" title="Social Messaging">
  <h3>Sm</h3>
  <%= link_to "Social Messaging", "#e6", :class => "micro_link", :parent_box => "#e5" %>
</div>

<div id="me7" class="micro_element left_border">
</div>

<div id="me8" class="micro_element">
</div>

<div id="me9" class="micro_element micro_element_box no-right solid_hci_green" title="PhysiciansClaim Insight">
  <h3>Pci</h3>
  <%= link_to "PCI", "#e9", :class => "micro_link", :parent_box => "#e9" %>
</div>

<div id="me10" class="micro_element left_border">
</div>

<div id="me11" class="micro_element">
</div>