<div id="me12" class="micro_element micro_element_box green" title="Prepayment Solutions">
  <h3>Ps</h3>
  <%= link_to "PS", "#e12", :class => "micro_link" %>
</div>

<div id="me13" class="micro_element micro_element_box green" title="Great Service">
  <h3>Gs</h3>
  <%= link_to "GS", "#e13", :class => "micro_link" %>
</div>

<div id="me14" class="micro_element micro_element_box green" title="User-friendly">
 <h3>Uf</h3>
 <%= link_to "UF", "#e14", :class => "micro_link" %>
</div>

<div id="me15" class="micro_element micro_element_box red" title="Better Results">
  <h3>Br</h3>
  <%= link_to "Br", "#e15", :class => "micro_link" %>
</div>

<div id="me16" class="micro_element micro_element_box blue" title="Work Smarter">
  <h3>Ws</h3>
  <%= link_to "Ws", "#e16", :class => "micro_link" %>
</div>

<div id="me17" class="micro_element micro_element_box blue" title="Total Customization">
  <h3>Tc</h3>
  <%= link_to "Tc", "#e17", :class => "micro_link" %>
</div>

<div id="me18" class="micro_element micro_element_box blue" title="Idea-driven">
  <h3>Id</h3>
  <%= link_to "Id", "#e18", :class => "micro_link" %>
</div>

<div id="me19" class="micro_element left_border">

</div>
<div id="me20" class="micro_element micro_element_box solid_hci_blue" title="DentalClaim Insight">
  <h3>Dci</h3>
  <%= link_to "DCI", "#e20", :class => "micro_link" %>
</div>
<div id="me21" class="micro_element micro_element_box no-right solid_hci_yellow" title="OncologyClaim Insight">
  <h3>Oci</h3>
  <%= link_to "OCI", "#e21", :class => "micro_link" %>
</div>
<div id="me22" class="micro_element left_border">

</div>