<div id="me23" class="micro_element top_border">

</div>

<div id="me24" class="micro_element micro_element_box green" title="Advanced Analytics">
  <h3>Aa</h3>
  <%= link_to "Aa", "#e24", :class => "micro_link", :parent_box => "#e1" %>
</div>

<div id="me25" class="micro_element micro_element_box red" title="Total Insight">
  <h3>Ti</h3>
  <%= link_to "Ti", "#e25", :class => "micro_link", :parent_box => "#e36" %>
</div>

<div id="me26" class="micro_element micro_element_box red" title="Accelerated Productivity">
  <h3>Ap</h3>
  <%= link_to "Ap", "#e26", :class => "micro_link", :parent_box => "#e36" %>
</div>

<div id="me27" class="micro_element micro_element_box red" title="Claim Neutral">
  <h3>Cn</h3>
  <%= link_to "Cn", "#e27", :class => "micro_link", :parent_box => "#e36" %>
</div>

<div id="me28" class="micro_element micro_element_box blue" title=" Help Center">
  <h3>Hc</h3>
  <%= link_to "Hc", "#e28", :class => "micro_link", :parent_box => "#e5" %>
</div>

<div id="me29" class="micro_element micro_element_box yellow" title="Real-time Processing">
  <h3>Rt</h3>
  <%= link_to "Rt", "#e29", :class => "micro_link", :parent_box => "#e50" %>
</div>

<div id="me30" class="micro_element left_border">

</div>

<div id="me31" class="micro_element micro_element_box solid_hci_red" title="FacilityClaim Insight">
  <h3>Fci</h3>
  <%= link_to "Fci", "#e31", :class => "micro_link", :parent_box => "#e9" %>
</div>

<div id="me32" class="micro_element micro_element_box no-right solid_hci_dark_blue" title="PharmaClaim Insight">
  <h3>Rxi</h3>
  <%= link_to "Rxi", "#e32", :class => "micro_link", :parent_box => "#e9" %>
</div>

<div id="me33" class="micro_element left_border">

</div>