<div id="me34" class="micro_element">

</div>
<div id="me35" class="micro_element top_border">

</div>
<div id="me36" class="micro_element micro_element_box solid_red" title="Results">
  <%= link_to "Results", "#e36", :class => "micro_link results color_box" %>
</div>

<div id="me37" class="micro_element micro_element_box red" title="Happier Users">
  <h3>Hu</h3>
  <%= link_to "Hu", "#e37", :class => "micro_link", :parent_box => "#e36" %>
</div>

<div id="me38" class="micro_element left_top_border">
</div>

<div id="me39" class="micro_element micro_element_box yellow" title="Software-as-a-Service">
  <h3>Sa</h3>
  <%= link_to "Sa", "#e39", :class => "micro_link", :parent_box => "#e50" %>
</div>

<div id="me40" class="micro_element micro_element_box yellow" title="Absolute Security">
  <h3>As</h3>
  <%= link_to "As", "#e40", :class => "micro_link", :parent_box => "#e50" %>
</div>

<div id="me41" class="micro_element micro_element_box yellow" title="Easily Scalable">
  <h3>Es</h3>
  <%= link_to "Es", "#e41", :class => "micro_link", :parent_box => "#e50" %>
</div>

<div id="me42" class="micro_element left_top_border">

</div>

<div id="me43" class="micro_element micro_element_box no-right solid_hci_purple" title="CaseTracker Insight">
  <h3>Cti</h3>
  <%= link_to "Cti", "#e43", :class => "micro_link", :parent_box => "#e9" %>
</div>

<div id="me44" class="micro_element left_border">

</div>