<div class="graphic_top">
  <%= image_tag("/images/red_box_icon.png", :alt => "Core Elements") %>
</div>
<div class="content_bottom">
  <h3>Core Elements: [Pay] in your element.</h3>  
  <div class="content_top_section">
    <p>
      Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
    </p>
  </div>
  
  <div class="content_bottom_section">
    <ul>
      <li class="black">Explore Elements</li>
      <li>
        <%= link_to raw("Better Results &raquo;"), "#e15", :parent_box => "#e36" %>
      </li>
      <li>
        <%= link_to raw("Total Insight &raquo;"), "#e25", :parent_box => "#e36" %>
      </li>
      <li>
        <%= link_to raw("Accelerated Productivity &raquo;"), "#e26", :parent_box => "#e36" %>
      </li>
      <li>
        <%= link_to raw("Claim Neutral &raquo;"), "#e27", :parent_box => "#e36" %>
      </li>
      <li>
        <%= link_to raw("Happier Users &raquo;"), "#e37", :parent_box => "#e36" %>
      </li>
    </ul>
  </div>
  
  
</div>