    <div id="e56" class="element">
      
    </div>
    <div id="e57" class="element solid_grey color_box">
      <%= render :partial => 'grey_box_content' %>
    </div>
    
    <div id="e58" class="element solid_grey" parent_box="#e57">
      <%= render :partial => 'e58_panels' %>
    </div>
    <div id="e59" class="element solid_grey" parent_box="#e57">
      <%= render :partial => 'e59_panels' %>
    </div>
    <div id="e60" class="element solid_grey" parent_box="#e57">
      <%= render :partial => 'e60_panels' %>
    </div>
    <div id="e61" class="element">
      
    </div>
    <div id="e62" class="element">
      
    </div>
    <div id="e63" class="element solid_black color_box" parent_box="#e63">
      <%= render :partial => 'black_box_content' %>
    </div>
    <div id="e64" class="element">
      
    </div>
    <div id="e65" class="element">
      
    </div>
    <div id="e66" class="element">
      
    </div>