    <div id="e34" class="element">
      
    </div>
    <div id="e35" class="element">
      
    </div>
    <div id="e36" class="element solid_red">
      <%= render :partial => 'red_box_content' %>
    </div>
    
    <div id="e37" class="element red">
      <%= render :partial => 'e37_panels' %>
    </div>
    <div id="e38" class="element">
      
    </div>
    <div id="e39" class="element yellow">
      <%= render :partial => 'e39_panels' %>
    </div>
    
    <div id="e40" class="element yellow">
      <%= render :partial => 'e40_panels' %>
    </div>
    
    <div id="e41" class="element yellow">
      <%= render :partial => 'e41_panels' %>
    </div>
    
    <div id="e42" class="element">
      
    </div>
    
    <div id="e43" class="element solid_hci_purple">
      <h2>Cti</h2>
      <p>CaseTracker Insight&reg;</p>
    </div>
    
    <div id="e44" class="element">
      
    </div>