    <div id="e23" class="element">
      
    </div>
    
    <div id="e24" class="element green" parent_box="#e1">
      <%= render :partial => "e24_panels" %>
    </div>
    
    <div id="e25" class="element red" parent_box="#e36">
      <%= render :partial => "e25_panels" %>
    </div>
    
    <div id="e26" class="element red" parent_box="#e36">
      <%= render :partial => "e26_panels" %>
    </div>
    
    <div id="e27" class="element red" parent_box="#e36">
      <%= render :partial => "e27_panels" %>
    </div>
    
    <div id="e28" class="element blue" parent_box="#e5">
      <%= render :partial => "e28_panels" %>
    </div>
    
    <div id="e29" class="element yellow" parent_box="#e50">
      <%= render :partial => "e29_panels" %>
    </div>
    
    <div id="e30" class="element">
      
    </div>
    
    <div id="e31" class="element solid_hci_red solution_box" parent_box="#e9">
      <%= render :partial => 'e31_panels' %>
    </div>
    
    <div id="e32" class="element solid_hci_dark_blue solution_box" parent_box="#e9">
      <%= render :partial => 'e32_panels' %>
    </div>
    
    <div id="e33" class="element">
      
    </div>