    <div id="e12" class="element green">
      <%= render :partial => "e12_panels" %>
    </div>
    
    <div id="e13" class="element green">
      <%= render :partial => "e13_panels" %>
    </div>
    
    <div id="e14" class="element green">
      <%= render :partial => "e14_panels" %>
    </div>
    
    <div id="e15" class="element red">
      <%= render :partial => "e15_panels" %>
    </div>
    
    <div id="e16" class="element blue">
      <%= render :partial => "e16_panels" %>
    </div>
    
    <div id="e17" class="element blue">
      <%= render :partial => "e17_panels" %>
    </div>
    
    <div id="e18" class="element blue">
      <%= render :partial => "e18_panels" %>
    </div>
    
    <div id="e19" class="element">
      
    </div>
    <div id="e20" class="element solid_hci_blue">
      <h2>Dci</h2>
      <p>DentalClaim Insight&reg;</p>
    </div>
    <div id="e21" class="element solid_hci_yellow">
      <h2>Oci</h2>
      <p>OncologyClaim Insight&reg;</p>
    </div>
    <div id="e22" class="element">
      
    </div>