    <div id="e34" class="element">
      
    </div>
    <div id="e35" class="element">
      
    </div>
    <div id="e36" class="element active_element solid_red color_box">
      <%= render :partial => 'red_box_content' %>
    </div>
    
    <div id="e37" class="element active_element red" parent_box="#e36">
      <%= render :partial => 'e37_panels' %>
    </div>
    <div id="e38" class="element">
      
    </div>
    <div id="e39" class="element active_element yellow" parent_box="#e50">
      <%= render :partial => 'e39_panels' %>
    </div>
    
    <div id="e40" class="element active_element yellow" parent_box="#e50">
      <%= render :partial => 'e40_panels' %>
    </div>
    
    <div id="e41" class="element active_element yellow" parent_box="#e50">
      <%= render :partial => 'e41_panels' %>
    </div>
    
    <div id="e42" class="element">
      
    </div>
    
    <div id="e43" class="element active_element solid_hci_purple solution_box" parent_box="#e9">
      <%= render :partial => 'e43_panels' %>
    </div>
    
    <div id="e44" class="element">
      
    </div>