    <div id="e1" class="element solid_green">
      <%= render :partial => 'green_box_content' %>
    </div>
    
    
    <div id="e2" class="element green">
      <%= render :partial => 'e2_panels' %>
    </div>
    
    
    
    <div id="e3" class="element">
      
    </div>
    <div id="e4" class="element">
      
    </div>
    
    <div id="e5" class="element solid_blue">
      <%= render :partial => 'blue_box_content' %>
    </div>
    
    <div id="e6" class="element blue">
      <%= render :partial => 'e6_panels' %>
    </div>
    <div id="e7" class="element">
      
    </div>
    <div id="e8" class="element">
      
    </div>
    <div id="e9" class="element solid_hci_green">
      <%= render :partial => 'e9_panels' %>
    </div>
    <div id="e10" class="element">
      
    </div>
    <div id="e11" class="element">
      
    </div>