      <div class="graphic_top">
        <%= image_tag("/images/yellow_box_icon.png", :alt => "Technology") %>
      </div>
      <div class="content_bottom">
        <h3>Technology: [Thrive] in your element.</h3>
        <div class="content_top_section">
          <p>
            Fight fraud on two fronts. With Nucleus you get the world’s foremost payment integrity application and HCI’s signature clinical validation process. Working together in perfect harmony.
          </p>
        </div>
        <div class="content_bottom_section">
          <ul>
            <li class="black">Explore Elements</li>
            <li>
              <%= link_to raw("Real-time Processing &raquo;"), "#e29", :parent_box => "#e50" %>
            </li>
            <li>
              <%= link_to raw("Software-as-a-Service &raquo;"), "#e39", :parent_box => "#e50" %>
            </li>
            <li>
              <%= link_to raw("Absolute Security &raquo;"), "#e40", :parent_box => "#e50" %>
            </li>
            <li>
              <%= link_to raw("Easily Scalable &raquo;"), "#e41", :parent_box => "#e50" %>
            </li>
            <li>
              <%= link_to raw("Seamless Integration &raquo;"), "#e51", :parent_box => "#e50" %>
            </li>
          </ul>
        </div>
      </div>