<div id="pages">
  <!-- <div id="home_page" class="sub_page">
    <%#= render :partial => 'home_page_content' %>
  </div> -->
  <div id="micro_elements" class="sub_page">
    <div id="inner_micros">
      <%= render :partial => 'micro_elements' %>
    </div>
  </div>
  <div id="contact_form" class="sub_page">
    <h2 id="elements_header">Simple and intuitive. Almost deceivingly so.</h2>
    <div id="form_box">
      <div id="form_content">
        <h2>[Be] in your element</h2>
        <p>
          The sleek design includes
          a customizable dashboard
          dynamic fraud scoring and
          dashboard widgets.
        </p>
        <p>
         See Nucleus in the Flesh - Request a Demo
        </p>
        <div id="pardot_form">
          <%= form_tag("http://www2.hcinsight.com/l/1492/2010-11-04/IWS2V", :id => "pf", :method => "post") do %>
         
            <div class="form_field">
              <%= label_tag(:first_name, "First Name") %><br/>
              <%= text_field_tag(:first_name, nil ,:class => "validate(required)") %>
            </div>
            <div class="form_field">
              <%= label_tag(:last_name, "Last Name") %><br/>
              <%= text_field_tag(:last_name, nil ,:class => "validate(required)") %>
            </div>
            <div class="form_field">
              <%= label_tag(:title, "Title/Responsibility") %><br/>
              <%= text_field_tag(:title, nil ,:class => "validate(required)") %>
            </div>
            <div class="form_field">
              <%= label_tag(:email, "Email") %><br/>
              <%= email_field_tag(:email, nil ,:class => "validate(required, email)") %>
            </div>
            <div class="form_field">
              <%= label_tag(:company, "Company") %><br/>
              <%= text_field_tag(:company, nil ,:class => "validate(required)") %>
            </div>
            <div class="form_field">
              <%= submit_tag("Request a Demo") %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="elements">
  <div id="row1">
    <%= render :partial => 'row1_elements' %>
  </div>
  
  <div id="row2">
    <%= render :partial => 'row2_elements' %>
  </div>
  
  <div id="row3">
    <%= render :partial => 'row3_elements' %>
  </div>
  
  <div id="row4">
    <%= render :partial => 'row4_elements' %>
  </div>
  
  <div id="row5">
    <%= render :partial => 'row5_elements' %>
  </div>
  
  <div id="row6">
    <%= render :partial => 'row6_elements' %>
  </div>
  <div id="row7">
    <%= render :partial => 'row7_elements' %>
  </div>
  
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      <% if @pardot == "true" %>
        app.launchFormThankYouModal();
      <% end %>
      app.loadCoreFunctions();
    });
  </script>
<% end %>