<div id="top_nav">
  <ul>
    <li><%= link_to "The Elements of Nucleus" %></li>
    <li><%= link_to "Request a demo" %></li>
    <li><%= link_to "Visit HealthCare Insight", "http://www.hcinsight.com" %></li>
  </ul>
  <h1 id="logo"><%= link_to "Nucleus", "" %></h1>
</div>

<div id="icon_nav">
  <ul>
    <li id="nav1"><%= link_to "Core Elements" %></li>
    <li id="nav2"><%= link_to "Results" %></li>
    <li id="nav3"><%= link_to "Technology" %></li>
    <li id="nav4"><%= link_to "Tools" %></li>
    <li id="nav5"><%= link_to "Problem Elements" %></li>
    <li id="nav6"><%= link_to "Solutions" %></li>
  </ul>
</div>

<div id="sub_nav">
  <ul id="core_elements_sub_nav">
    <li><%= link_to "Clinical Touch" %></li>
    <li><%= link_to "Prepayment Solutions" %></li>
    <li><%= link_to "Great Service" %></li>
    <li><%= link_to "User Friendly" %></li>
    <li><%= link_to "Advanced Analytics" %></li>
  </ul>
  <ul id="results_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="technology_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="tools_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="problem_elements_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="solutions_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
</div>