<div id="top_nav">
  <ul>
    <li><%= link_to "The Elements of Nucleus", "#micro_elements", :class => "page_trigger" %></li>
    <li><%= link_to "Request a demo", "#contact_form", :class => "page_trigger" %></li>
    <li><%= link_to "Visit HealthCare Insight", "http://www.hcinsight.com" %></li>
  </ul>
  <h1 id="logo"><%= link_to "Nucleus", "#home_page", :class => "page_trigger" %></h1>
</div>

<div id="icon_nav">
  <ul>
    <li id="nav1"><%= link_to "Core Elements", "#e1" %></li>
    <li id="nav2"><%= link_to "Results", "#e36" %></li>
    <li id="nav3"><%= link_to "Technology", "#e5" %></li>
    <li id="nav4"><%= link_to "Tools", "#e50" %></li>
    <li id="nav5"><%= link_to "Problem Elements", "#e57" %></li>
    <li id="nav6"><%= link_to "Solutions", "#e9" %></li>
  </ul>
</div>

<div id="sub_nav">
  <ul id="core_elements_sub_nav">
    <li><%= link_to "Clinical Touch", "#e2" %></li>
    <li><%= link_to "Prepayment Solutions", "#e12" %></li>
    <li><%= link_to "Great Service", "#e13" %></li>
    <li><%= link_to "User Friendly", "#e14" %></li>
    <li><%= link_to "Advanced Analytics", "#e24" %></li>
  </ul>
  <ul id="results_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="technology_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="tools_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="problem_elements_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="solutions_sub_nav" class="hidden">
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
    <li><%= link_to "" %></li>
  </ul>
</div>