<div id="top_nav">
  <ul>
    <li>
       <%= link_to raw("<span>[</span> The Elements of Nucleus <span>]</span>"), "#micro_elements", :class => "page_trigger" %>
    </li>
    <li>
      <%= link_to raw("<span>[</span> Request a demo <span>]</span>"), "#contact_form", :class => "page_trigger" %>
    </li>
    <li>
      <%= link_to raw("<span>[</span> Visit HealthCare Insight <span>]</span>"), "http://www.hcinsight.com" %>
    </li>
  </ul>
  <h1 id="logo"><%= link_to "Nucleus", "#home_page", :class => "page_trigger" %></h1>
</div>

<div id="icon_nav">
  <ul>
    <li id="nav1"><%= link_to "Core Elements", "#e1" %></li>
    <li id="nav2"><%= link_to "Results", "#e36" %></li>
    <li id="nav3"><%= link_to "Technology", "#e5" %></li>
    <li id="nav4"><%= link_to "Tools", "#e50" %></li>
    <li id="nav5"><%= link_to "Problem Elements", "#e57" %></li>
    <li id="nav6"><%= link_to "Solutions", "#e9" %></li>
    <li id="nav7"><%= link_to "Video", "#e63" %></li>
  </ul>
</div>

<div id="sub_nav">
  <ul id="core_elements_sub_nav" class="hidden">
    <li><%= link_to "Clinical Touch", "#e2" %></li>
    <li><%= link_to "Prepayment Solutions", "#e12" %></li>
    <li><%= link_to "Great Service", "#e13" %></li>
    <li><%= link_to "User Friendly", "#e14" %></li>
    <li><%= link_to "Advanced Analytics", "#e24" %></li>
  </ul>
  <ul id="results_sub_nav">
    <li><%= link_to "Better Results", "#e15" %></li>
    <li><%= link_to "Total Insight", "#e25" %></li>
    <li><%= link_to "Accelerated Productivity", "#e26" %></li>
    <li><%= link_to "Claim Neutral", "#e27" %></li>
    <li><%= link_to "Happier Users", "#e37" %></li>
  </ul>
  <ul id="technology_sub_nav" class="hidden">
    <li><%= link_to "Social Messaging", "#e6" %></li>
    <li><%= link_to "Work Smarter", "#e16" %></li>
    <li><%= link_to "Total Customization", "#e17" %></li>
    <li><%= link_to "Idea-driven", "#e18" %></li>
    <li><%= link_to "Help Center", "#e28" %></li>
  </ul>
  <ul id="tools_sub_nav" class="hidden">
    <li><%= link_to "Real-time Processing", "#e29" %></li>
    <li><%= link_to "Software-as-a-Service", "#e39" %></li>
    <li><%= link_to "Absolute Security", "#e40" %></li>
    <li><%= link_to "Easily Scalable", "#e41" %></li>
    <li><%= link_to "Seamless Integration", "#e51" %></li>
    <li><%= link_to "" %></li>
  </ul>
  <ul id="problem_elements_sub_nav" class="hidden">
    <li><%= link_to "Fraud", "#e58" %></li>
    <li><%= link_to "Waste", "#e59" %></li>
    <li><%= link_to "Abuse", "#e60" %></li>
  </ul>
  <ul id="solutions_sub_nav" class="hidden">
    <li><%= link_to "PhysicianClaim Insight", "#e9" %></li>
    <li><%= link_to "DentalClaim Insight", "#e20" %></li>
    <li><%= link_to "OncologyClaim Insight", "#e21" %></li>
    <li><%= link_to "FacilityClaim Insight", "#e31" %></li>
    <li><%= link_to "PharmaClaim Insight", "#e32" %></li>
    <li><%= link_to "CaseTracker Insight", "#e43" %></li>
  </ul>
  <ul id="video_sub_nav" class="hidden">
    <li><%= link_to "Core Elements", "#e63" %></li>
    <li><%= link_to "Results", "#e63" %></li>
    <li><%= link_to "Technology", "#e63" %></li>
    <li><%= link_to "Tools", "#e63" %></li>
  </ul>
</div>